.content_container {
  padding: 20px;
}

.addNewCompany_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    h1 {
      margin: 0;
    }
  }
}

.input_form {
  list-style-type: none;
  padding-left: 0px;

  > li {
    margin-bottom: 30px;
    width: auto;

    > p {
      float: left;
      max-width: 200px;
      width: 100%;
      text-align: start;
      margin: 0 20px 0 0;
    }
  }
}

.required_field {
  color: red;
}

.not_required_field {
  color: #aaaaaa;
}

.user_list {
  max-height: 500px;
  overflow: auto;
}

// Responsive styles
@media (max-width: 768px) {
  .addNewCompany_main {
    &__title {
      flex-direction: column;
      align-items: flex-start;

      h1 {
        margin-bottom: 10px;
      }

      button {
        width: 100% !important;
      }
    }
  }

  .input_form {
    > li {
      > p {
        float: none;
        margin-bottom: 10px;
      }

      .ant-input,
      .ant-select,
      .ant-picker {
        width: 100% !important;
      }
    }
  }

  .ant-space-compact {
    width: 100%;

    .ant-input {
      width: 30% !important;

      & + .ant-input {
        width: 70% !important;
      }
    }
  }
  .button-container {
    .ant-flex {
      flex-direction: column;
      align-items: stretch;

      button {
        margin-top: 10px;
      }
    }
  }
}
