.content_container {
    min-height: 100vh;
    background: var(--color-white);
    padding: 2rem;
    border-radius: 6px;
}

.detail_graphBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    min-height: 200px;
}

.detail_box {
    display: grid;
    width: 100%;
    padding: 20px;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
    min-height: 100px;
}

.detail_box > ul {
    position: relative;
    background-color: var(--color-white);
    padding: 20px;
    width: 100%;
    min-width: 532px;
    /*box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);*/
    border-radius: 20px;
}

.detail_box > ul > h1 {
    font-size: 28px;
    margin-bottom: 15px;
}

.data_list {
    display: flex;
    flex-direction: column;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.data_list > * {
    margin: 5px 0 5px 0;
}

.data_list > li > span {
    color: black;
}

.data_list > li > span:first-child {
    font-size: 16px;
    margin-top: 50px;
    margin-right: 10px;
}

.data_list > li > span:last-child {
    font-size: 18px;
    text-align: right;
}

.data_list > li > span:last-child:hover {
    color: #235da4;
}

.data_list:hover h1 {
    color: #007bff;
}

.ant-form-item .ant-form-item-label >label::after {
    color: white;
}